<script setup>
import { ref } from "vue";
import ChatBox from "@c/chatBox/ChatBox.vue";
import RoomHeader from "@v/room/RoomHeader.vue";
import RoomFooter from "@v/room/RoomFooter.vue";

const data = ref([
  {
    id: 0,
    msg: "Luaerat incidunt?",
    img: "",
    time: "13:19:36",
    direction: "left"
  },
  {
    id: 1,
    msg: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
    img: "",
    time: "13:20:22",
    direction: "right"
  },
  {
    id: 2,
    msg: "點我看plugin另開網址 https://gitlab.com/b36291/chat-sample/-/tree/main",
    img: "",
    time: "13:22:24",
    direction: "left"
  },
  {
    id: 3,
    msg: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptas mol estiae. Ducimus laudantium praesentium, ab inventore eliigendi explicabo cupid itate id.",
    img: "",
    time: "13:23:22",
    direction: "right"
  },
  {
    id: 4,
    msg: "點我看plugin另開網址 https://handler.travel/wp-content/uploads/2020/03/80745625_1330225683814530_2522022551606001664_o.jpg",
    img: "https://handler.travel/wp-content/uploads/2020/03/80745625_1330225683814530_2522022551606001664_o.jpg",
    time: "13:24:55",
    direction: "right"
  }
]);
</script>

<template>
  <div class="room">
    <RoomHeader />
    <div class="space_holder" />
    <ChatBox
      v-for="item in data"
      :key="item.id"
      :msg="item.msg"
      :img="item.img"
      :time="item.time"
      :direction="item.direction"
    />
    <div class="space_holder" />
    <RoomFooter />
  </div>
</template>

<style lang="scss" scoped>
.room {
  height: 100vh;
  background-color: #fff;
  overflow: auto;
  .space_holder {
    height: 68px;
  }
}
</style>
