<template>
  <div class="room_footer">
    <button class="camera"><img src="./img/camera.png" /></button>
    <input class="text" />
    <button class="submit"><img src="./img/up-arrow.png" /></button>
  </div>
</template>

<style lang="scss" scoped>
.room_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - 8px);
  height: 40px;
  border-top: 1px solid #333;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;

  .camera,
  .submit {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: thin solid #333;
    margin: 4px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .text {
    flex: 1;
    margin: 4px;
    height: 30px;
    border: thin solid #999;
    border-radius: 16px;
  }
}
</style>
