<template>
  <div class="room_header">
    <div class="title">Chat Room</div>
    <button class="icon black"><i class="dash" /></button>
    <button class="icon red"><i class="plus" /></button>
  </div>
</template>

<style lang="scss" scoped>
.room_header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 8px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: thin solid #ccc;
  z-index: 1;
  .title {
    flex: 1;
    padding: 4px 16px;
    text-align: left;
    font-weight: bolder;
  }
  .icon {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin: 4px;
    .dash {
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 28px;
        margin-left: -14px;
        margin-top: -3px;
        border-top: 6px solid #fff;
        transform: scale(0.5);
      }
    }
    .plus {
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 28px;
        margin-left: -14px;
        margin-top: -3px;
        border-top: 6px solid #fff;
        transform: scale(0.5);
      }
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        height: 28px;
        margin-left: -3px;
        margin-top: -14px;
        border-left: 6px solid #fff;
        transform: scale(0.5);
      }
    }
    &.black {
      background-color: #333;
    }
    &.red {
      background-color: #f33;
    }
  }
}
</style>
