<script setup>
defineProps({
  msg: {
    type: String,
    default: ""
  },
  img: {
    type: String,
    default: ""
  },
  time: {
    type: String,
    default: ""
  },
  direction: {
    type: String,
    default: "right"
  }
});
</script>

<template>
  <div :class="['time', direction]">{{ time }}</div>
  <div :class="['chat_box', direction]">
    <div class="box">
      <div v-msg="msg" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.time {
  font-size: 12px;
  color: rgb(20, 20, 20);
  padding: 2px 24px;
  &.right {
    text-align: right;
  }
  &.left {
    text-align: left;
  }
}
.chat_box {
  display: flex;
  align-items: center;
  margin: 0 16px 32px 16px;
  .box {
    position: relative;
    max-width: 64vw;
    text-align: left;
    border-radius: 12px;
    padding: 16px;
    .img {
      max-width: 100%;
      max-height: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      border-style: solid;
    }
  }
  &.right {
    justify-content: flex-end;
    .box {
      background-color: rgb(240, 240, 240);
      color: rgb(20, 20, 20);
      &::before {
        right: 0px;
        width: 12px;
        height: 8px;
        border-width: 0 0 10px 10px;
        border-style: solid;
        border-bottom-color: rgb(240, 240, 240);
        border-left-color: transparent;
        border-radius: 0 0 80px 0;
        transform: rotate(90deg);
      }
    }
  }
  &.left {
    justify-content: flex-start;
    .box {
      background-color: rgb(68, 68, 68);
      color: rgb(240, 240, 240);
      &::before {
        left: 0px;
        width: 12px;
        height: 8px;
        border-width: 0 10px 10px 0;
        border-style: solid;
        border-bottom-color: rgb(68, 68, 68);
        border-right-color: transparent;
        border-radius: 0 0 0 80px;
        transform: rotate(-90deg);
      }
    }
  }
}
</style>
